body {
  background-color: #FBFAF7;
  font-family: "open sans", arial, sans-serif;
}
ul {
  margin-left: 15px;
}
h2 {
  margin-bottom: 0;
}
.item-header {
  float: left;
  clear: both;
  margin-bottom: 5px;
  width: 75%;
}
.item-name {
  font-weight: bold;
  font-size: 1.2em;
}
.item-header > .item-desc {
  font-style: italic;
  clear: both;
}
img.logo {
  max-height: 75px;
  margin-bottom: 10px;
}
.item-date {
  font-weight: bold;
  float: right;
  text-align: right;
  width: 25%;
}
.item {
  overflow: auto;
  margin-bottom: 20px;
}
.item-content {
  clear: both;
  width: 75%;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: justify;
}
#content {
  margin-top: 20px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.item.following {
  margin-top: -20px;
}
#header {
  color: white;
  min-height: 200px;
  background-color: #3E3E47; /* #3A678D; */
  overflow: auto;
  position: relative;
  border-bottom: 1px black solid;
  margin-left: auto;
  margin-right: auto;
}
#header > p {
  position: absolute;
  bottom: 0;
  right: 10px;
}
#header-content {
  margin-top: 20px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}
#profile-pic {
  height: 150px;
  float: left;
  padding: 10px;
  border: 1px black solid;
  padding: 0px;
  margin: 10px;
}
.tabs-left > .nav-tabs > li.active a,
.tabs-left > .nav-tabs > li.active a:hover {
  color: #FBFAF7;
  background-color: #3E3E47; /* #3A678D; */
  border-color: transparent;
  font-weight: bold;
  min-width: 130px;
}
.tabs-left > .nav-tabs > li a:hover {
  background-color: transparent;
  border-color: transparent;
  font-weight: bold;
}
.tabs-left > .nav-tabs > li > a {
  color: #555555;
}
#worldmap {
  float: right;
  margin-left: 20px;
}
.tabs-left > .nav-tabs {
  margin-right: -1px;
  border-right: 1px solid black; /* #3A678D; */
}
.tab-pane {
  border-left: 1px solid black; /* #3A678D; */
  padding-left: 20px;
}
ul.nav {
  float: right;
  vertical-align: bottom;
}
